@import 'variables.scss';

.active {
  border: 1px solid $dark;
  box-shadow: 1px 1px 2px rgba($dark, .3);
  background: $light;
}


.about__page-header {
  width: 100%;
  min-height: 350px;
  background: $white;
  height: 95vh;
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__page-header-container {
  position: relative;
  width: 75%;
  height: 100%;
  max-width: 1400px;
}

.about__page-header-img {
  position: absolute;
  width: 45%;
  top: 10%;
  height: 70%;
  background-image: url('../../img/julie.jpg');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.about__page-header-title{
  position: absolute;
  top: 18%;
  left: 38%;
  background: $white;
  span {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $dark;
    font-weight: 900;
    font-size: .7em;
    margin-left: 15px;
  }
  h1 {
    font-size: 3em;
    padding: 8px;
    letter-spacing: -1px;
    margin: 3px;
  }
}
.about__page-header-text{
  position: absolute;
  width: 48%;
  top: 34%;
  left: 48%;
  p {
    font-family: $serif;
    line-height: 1.8em;
    font-size: .9em;
    text-align: justify;
  }
}

.about__page-body {
  background: $light;
  width: 100%;
  height: 40vh;
  min-height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about__page-body-container {
  margin-top: 7%;
  position: relative;
  width: 72%;
  height: 100%;
  max-width: 1400px;
  text-align: center;
  h2 {
    color: $white;
    font-family: $serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -10px;
  }
}
.list-carousel {
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  h2 {
    text-transform: uppercase;
    font-family: $serif;
    letter-spacing: 5px;
    color: $secondary;
  }
}
.carousel-left, .carousel-right {
  width: 10%;
  margin-top: 18px;
  i {
    font-size: 2.5em;
    color: rgba($white, .5);
    cursor: pointer;
    &:hover {
      color: rgba($secondary, .7);
      transition: $ease;
    }
  }
}
.carousel-middle {
  width: 100%;
  height: 100px;
}

.slideshow {
  margin: 0;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  padding: 12px 0;
  margin: 0;
  width: 83%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  transition: opacity 1.5s;
}

.show {
  opacity: 1;
  z-index: 2;
}
