@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather|Lora");
.active {
  border: 1px solid #474545;
  box-shadow: 1px 1px 2px rgba(71, 69, 69, 0.3);
  background: #E8DCD3; }

.about__page-header {
  width: 100%;
  min-height: 350px;
  background: #ffffff;
  height: 95vh;
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.about__page-header-container {
  position: relative;
  width: 75%;
  height: 100%;
  max-width: 1400px; }

.about__page-header-img {
  position: absolute;
  width: 45%;
  top: 10%;
  height: 70%;
  background-image: url("../img/julie.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat; }

.about__page-header-title {
  position: absolute;
  top: 18%;
  left: 38%;
  background: #ffffff; }
  .about__page-header-title span {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #474545;
    font-weight: 900;
    font-size: .7em;
    margin-left: 15px; }
  .about__page-header-title h1 {
    font-size: 3em;
    padding: 8px;
    letter-spacing: -1px;
    margin: 3px; }

.about__page-header-text {
  position: absolute;
  width: 48%;
  top: 34%;
  left: 48%; }
  .about__page-header-text p {
    font-family: "Lora", serif;
    line-height: 1.8em;
    font-size: .9em;
    text-align: justify; }

.about__page-body {
  background: #E8DCD3;
  width: 100%;
  height: 40vh;
  min-height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.about__page-body-container {
  margin-top: 7%;
  position: relative;
  width: 72%;
  height: 100%;
  max-width: 1400px;
  text-align: center; }
  .about__page-body-container h2 {
    color: #ffffff;
    font-family: "Lora", serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -10px; }

.list-carousel {
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap; }
  .list-carousel h2 {
    text-transform: uppercase;
    font-family: "Lora", serif;
    letter-spacing: 5px;
    color: #D1A39E; }

.carousel-left, .carousel-right {
  width: 10%;
  margin-top: 18px; }
  .carousel-left i, .carousel-right i {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }
    .carousel-left i:hover, .carousel-right i:hover {
      color: rgba(209, 163, 158, 0.7);
      transition: all 0.3s ease-in-out; }

.carousel-middle {
  width: 100%;
  height: 100px; }

.slideshow {
  margin: 0;
  width: 100%;
  height: 100%; }

.slide {
  position: absolute;
  padding: 12px 0;
  margin: 0;
  width: 83%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  transition: opacity 1.5s; }

.show {
  opacity: 1;
  z-index: 2; }
