@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather|Lora");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather|Lora");
.active {
  border: 1px solid #474545;
  box-shadow: 1px 1px 2px rgba(71, 69, 69, 0.3);
  background: #E8DCD3; }

.about__page-header {
  width: 100%;
  min-height: 350px;
  background: #ffffff;
  height: 95vh;
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.about__page-header-container {
  position: relative;
  width: 75%;
  height: 100%;
  max-width: 1400px; }

.about__page-header-img {
  position: absolute;
  width: 45%;
  top: 10%;
  height: 70%;
  background-image: url("../img/julie.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat; }

.about__page-header-title {
  position: absolute;
  top: 18%;
  left: 38%;
  background: #ffffff; }
  .about__page-header-title span {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #474545;
    font-weight: 900;
    font-size: .7em;
    margin-left: 15px; }
  .about__page-header-title h1 {
    font-size: 3em;
    padding: 8px;
    letter-spacing: -1px;
    margin: 3px; }

.about__page-header-text {
  position: absolute;
  width: 48%;
  top: 34%;
  left: 48%; }
  .about__page-header-text p {
    font-family: "Lora", serif;
    line-height: 1.8em;
    font-size: .9em;
    text-align: justify; }

.about__page-body {
  background: #E8DCD3;
  width: 100%;
  height: 40vh;
  min-height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.about__page-body-container {
  margin-top: 7%;
  position: relative;
  width: 72%;
  height: 100%;
  max-width: 1400px;
  text-align: center; }
  .about__page-body-container h2 {
    color: #ffffff;
    font-family: "Lora", serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -10px; }

.list-carousel {
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap; }
  .list-carousel h2 {
    text-transform: uppercase;
    font-family: "Lora", serif;
    letter-spacing: 5px;
    color: #D1A39E; }

.carousel-left, .carousel-right {
  width: 10%;
  margin-top: 18px; }
  .carousel-left i, .carousel-right i {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }
    .carousel-left i:hover, .carousel-right i:hover {
      color: rgba(209, 163, 158, 0.7);
      transition: all 0.3s ease-in-out; }

.carousel-middle {
  width: 100%;
  height: 100px; }

.slideshow {
  margin: 0;
  width: 100%;
  height: 100%; }

.slide {
  position: absolute;
  padding: 12px 0;
  margin: 0;
  width: 83%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  transition: opacity 1.5s; }

.show {
  opacity: 1;
  z-index: 2; }

* {
  box-sizing: border-box;
  margin: 0; }

::-webkit-scrollbar {
  display: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Inconsolata", monospace; }

a {
  text-decoration: none;
  color: #D1A39E;
  cursor: pointer; }

.links {
  color: #ffffff; }
  .links:hover {
    color: #474545;
    transition: all .5s ease;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

p {
  margin: 0;
  line-height: 1.3em;
  font-size: 1em;
  color: #474545; }

h1 {
  font-family: "Merriweather", serif;
  margin-bottom: 0.3em;
  font-weight: 100;
  font-size: 3.3em;
  line-height: 1.1em;
  color: #D1A39E; }

h2 {
  font-weight: 100;
  font-size: 2em;
  margin: 0;
  color: #474545; }

h3 {
  font-size: 1.5em;
  color: #474545;
  line-height: 1.2em;
  font-family: "Merriweather", serif;
  font-weight: 100; }

.sm-caps {
  color: #F2DAD7;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  margin-bottom: 15px;
  margin-left: 2px; }

.p-caps {
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-left: 5px;
  text-transform: uppercase; }

.sm {
  font-size: .7em;
  color: #F2DAD7; }

button {
  outline: none;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid #474545;
  box-shadow: 1px 1px 2px rgba(71, 69, 69, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  button:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.03); }

.btn-main {
  padding: 20px;
  margin: 2em 2px;
  background: #F2DAD7; }
  .btn-main:hover {
    background: #E8DCD3; }

.btn-sm {
  padding: 10px;
  margin: 1em 2px;
  color: #b8726a;
  border-color: #b8726a; }
  .btn-sm:hover {
    background: #E8DCD3; }

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  overflow: hidden; }

.landing__box {
  position: absolute;
  left: 0;
  top: 0;
  background: #D1A39E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px; }

.landing__box-light {
  background: #ffffff; }

#logo-jp {
  color: #D1A39E; }

.landing__logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  color: #ffffff;
  cursor: pointer; }

.landing__title {
  margin-top: 15em;
  position: relative;
  text-align: center; }

.title {
  color: #ffffff;
  font-family: "Merriweather", serif;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 3.3em;
  margin: 0;
  font-weight: 100; }

.subtitle {
  font-size: .9em;
  color: #474545; }

.enter {
  margin: 1em 0;
  font-size: 1.1em; }

.landing__content {
  position: relative;
  opacity: 0; }

section {
  z-index: 1;
  min-height: 400px;
  position: relative; }

section div {
  scroll-behavior: smooth;
  overflow-y: scroll; }

nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  text-transform: uppercase; }
  nav a {
    letter-spacing: 3px;
    padding: 5px 15px;
    font-size: .8em;
    transition: all 0.3s ease-in-out;
    color: #474545;
    border: 1px solid transparent; }
    nav a:hover {
      background: #F2DAD7;
      border: 1px solid #474545;
      box-shadow: 1px 1px 2px rgba(71, 69, 69, 0.3); }

.navbar {
  opacity: 0; }

.about-nav {
  margin-top: 8px; }

#main {
  width: 100%;
  height: 91vh;
  margin-top: 80px;
  overflow: auto;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hero__title {
  width: 65%; }
  .hero__title p {
    color: #474545;
    margin-left: 2px;
    margin-bottom: 15px; }

.hero-scroll {
  position: absolute;
  bottom: 25px; }

.scroll {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 170px;
  margin-left: 5px; }
  .scroll span {
    font-size: .6em; }
  .scroll i {
    margin-left: 5px;
    margin-top: 8px;
    color: #D1A39E;
    opacity: .5;
    animation: bounce 2s ease-in infinite;
    cursor: pointer; }
    .scroll i:hover {
      color: #474545; }

#skills {
  position: relative;
  width: 100%;
  height: 50vh;
  background: #D1A39E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.skills__container {
  width: 65%; }
  .skills__container h2 {
    color: #ffffff;
    line-height: 1.9em;
    font-family: "Merriweather", serif;
    font-size: 2em; }
  .skills__container p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    margin-left: 5px; }

#work {
  position: relative;
  width: 100%;
  height: 75vh;
  background: #F2DAD7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.work__container {
  width: 65%; }
  .work__container h1 {
    font-size: 2.5em;
    margin: 0;
    color: #c9938d; }
  .work__container .btn-sm {
    margin-top: 50px; }

.work__projectbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px; }

.work__project {
  margin-right: 15px;
  height: 200px;
  border: 1px solid #b8726a;
  width: 33%;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  background: #D1A39E; }
  .work__project:hover {
    transition: all 0.5s ease-out; }

.amphoto {
  transition: all 0.5s ease-out;
  transform: translateY(150px); }
  .amphoto:before {
    content: 'ariel min photography';
    position: absolute;
    top: 15px;
    color: #ffffff; }
  .amphoto:hover {
    transition: all 0.5s ease-out;
    transform: translateY(0); }
    .amphoto:hover:before {
      background: #D1A39E; }
    .amphoto:hover:after {
      content: '';
      transition: all 0.5s ease-out;
      width: 100%;
      height: 100%;
      background-image: url("../img/amproject.png");
      background-size: cover;
      background-repeat: no-repeat; }

.travelmuse {
  transition: all 0.5s ease-out;
  transform: translateY(150px); }
  .travelmuse:before {
    content: 'the travel muse';
    position: absolute;
    top: 15px;
    color: #ffffff; }
  .travelmuse:hover {
    transition: all 0.5s ease-out;
    transform: translateY(0); }
    .travelmuse:hover:before {
      background: #D1A39E; }
    .travelmuse:hover:after {
      content: '';
      transition: all 0.5s ease-out;
      width: 100%;
      height: 100%;
      background-image: url("../img/tmproject.png");
      background-size: cover;
      background-repeat: no-repeat; }

.dailyui {
  transition: all 0.5s ease-out;
  transform: translateY(150px); }
  .dailyui:before {
    content: 'daily ui challenges';
    position: absolute;
    top: 15px;
    color: #ffffff; }
  .dailyui:hover {
    transition: all 0.5s ease-out;
    transform: translateY(0); }
    .dailyui:hover:before {
      background: #D1A39E; }
    .dailyui:hover:after {
      content: '';
      transition: all 0.5s ease-out;
      width: 100%;
      height: 100%;
      background-image: url("../img/uiproject.png");
      background-size: cover;
      background-repeat: no-repeat; }

#contact {
  width: 100%;
  height: 40vh;
  background: #D1A39E;
  position: relative; }

.contact__header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5em; }
  .contact__header h1 {
    color: #ffffff;
    font-size: 2em; }

.contact__main {
  position: absolute;
  left: 25%;
  top: 55%;
  width: 50%;
  height: 65%;
  text-align: center;
  background: #E8DCD3;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 6px rgba(71, 69, 69, 0.2); }
  .contact__main p {
    margin-top: 5em;
    line-height: 1.7em; }
  .contact__main a {
    text-decoration: underline; }
    .contact__main a:hover {
      transition: all .3s ease-out;
      color: #615e5e; }
  .contact__main:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(71, 69, 69, 0.2); }

.contact__social {
  position: absolute;
  width: 95%;
  top: 70%; }

.social {
  list-style-type: none;
  display: block; }
  .social li {
    display: inline; }
  .social a {
    color: #D1A39E;
    font-size: 1.5em;
    padding: 15px; }
    .social a:hover {
      transition: all .3s ease-out;
      color: #474545; }

.footer__spacer {
  position: relative;
  z-index: -2;
  height: 25em;
  pointer-events: none; }

footer {
  position: fixed;
  z-index: 0;
  height: 25em;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  padding: 1em;
  padding-top: 0;
  border: 0 solid #ffffff;
  border-top: 0;
  transition: border .3s ease,padding .3s ease; }
  footer:hover {
    padding: 0;
    padding-top: 0;
    border: 1em solid #D1A39E;
    border-top: 0; }
  footer p {
    font-size: .8em; }

.footer__content {
  position: absolute;
  margin-top: 14em;
  margin-left: 8em;
  width: 65%; }
  .footer__content h3 {
    font-family: "Merriweather", serif;
    font-size: 1.4em;
    font-weight: 100;
    color: #D1A39E; }
    .footer__content h3 span {
      text-decoration: underline;
      color: #F2DAD7; }
  .footer__content p {
    margin-top: 5px; }

.footer__text {
  position: fixed;
  color: #D1A39E;
  bottom: 20px;
  right: 20px; }

@keyframes bounce {
  50% {
    transform: translateY(-5px); } }

@media screen and (min-width: 33em) {
  .landing {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 60%; }
  .landing__title {
    grid-area: 2 / 1 / 2 / 3;
    margin: 0;
    align-items: flex-end;
    align-self: stretch;
    justify-self: end;
    text-align: right; }
  .landing__content {
    grid-area: 1 / 4 / 1 / 4;
    text-align: right;
    opacity: 1; } }

@media screen and (max-width: 870px) {
  .hero__image {
    width: 100%; }
  .hero__title {
    margin: 10em 2em; } }

@media screen and (max-width: 35em) {
  .social li {
    display: block;
    padding: 5px; }
  .contact__social {
    top: 37%; }
  .contact__main {
    height: 70%; } }
