@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

$body: 'Inconsolata', monospace;
$big: 'Merriweather', serif;

$white: #ffffff;
$primary: #F2DAD7;
$secondary: #D1A39E;
$light: #E8DCD3;
$dark: #474545;

$ease: all 0.3s ease-in-out;
$ease-slow: all 0.5s ease-out;

* {
  box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar { display: none; }

body {
  font-family: $body;
}

//fonts

a {
  text-decoration: none;
  color: $dark;
  cursor: pointer;
}

.links {
  color: $white;
  &:hover {
    color: $dark;
    transition: all .5s ease;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

p {
  margin: 0;
  line-height: 1.3em;
  font-size: 1em;
  color: $dark;
}

h1 {
  font-family: $big;
  margin-bottom: 0.3em;
  font-weight: 100;
  color: $dark;
}

h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin: 0;
}

.sm-caps {
  color: $primary;
  font-family: $body;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  margin-bottom: 15px;
  margin-left: 2px;
}

.p-caps {
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-left: 5px;
  text-transform: uppercase;
}

//icons

.sm {
  font-size: .7em;
  color: $primary;
}

//buttons

button {
  outline: none;
  font-family: $body;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid $dark;
  box-shadow: 1px 1px 2px rgba($dark, .3);
  cursor: pointer;
  transition: $ease;
  &:hover {
    transition: $ease;
    transform: scale(1.03);
  }
}

.btn-main {
  padding: 20px;
  margin: 2em 2px;
  background: $primary;
  &:hover {
    background: $light;
  }
}
.btn-sm {
  padding: 10px;
  margin: 1em 2px;
  color: darken($secondary, 15%);
  border-color: darken($secondary, 15%);
  &:hover {
    background: $light;
  }
}
//intro landing page
.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  overflow: hidden;

}

.landing__box {
  position: absolute;
  left: 0;
  top: 0;
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.landing__logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  color: $white;
  cursor: pointer;
}

.landing__title {
  margin-top: 15em;
  position: relative;
  text-align: center;
}

.title {
  color: $white;
  font-family: $big;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 3.3em;
  margin: 0;
  font-weight: 100;
}

.subtitle {
  font-size: .9em;
  color: $dark;
}

.enter {
  margin: 1em 0;
  font-size: 1.1em;
}

.landing__content {
  position: relative;
  opacity: 0;
}

section {
  z-index: 1;
  min-height: 400px;
}

section div {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

//navbar
nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  text-transform: uppercase;
  a {
    letter-spacing: 3px;
    padding: 5px 15px;
    font-size: .8em;
    transition: $ease;
    border: 1px solid transparent;
    &:hover {
      background: $primary;
      border: 1px solid $dark;
      box-shadow: 1px 1px 2px rgba($dark, .3);
    }
  }
}
.navbar {
  opacity: 0;
}
.about-nav {
  margin-top: 8px;
}

// homepage - main area
#main {
  width: 100%;
  height: 91vh;
  margin-top: 80px;
  overflow: auto;
  background: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  width: 65%;
  h1 {
    font-size: 3.3em;
    line-height: 1.1em;
    color: $secondary;
  }
  p {
    color: $dark;
    margin-left: 2px;
    margin-bottom: 15px;
  }
}


.scroll {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 20px;
  span {
    font-size: .6em;
  }
  i {
    margin-left: 5px;
    margin-top: 8px;
    color: $secondary;
    opacity: .5;
    animation: bounce 2s ease-in infinite;
    cursor: pointer;
    &:hover {
      color: $dark;
    }
  }
}
//skills section
#skills {
  position: relative;
  width: 100%;
  height: 50vh;
  background: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__container {
  width: 65%;
  h2 {
    color: $white;
    line-height: 1.9em;
    font-family: $big;
    font-size: 2em;
  }
  p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    margin-left: 5px;
  }
}

//work section
#work {
  position: relative;
  width: 100%;
  height: 75vh;
  background: $primary;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work__container {
  width: 65%;
  h1 {
    font-size: 2.5em;
    margin: 0;
    color: darken($secondary, 5%);
  }
  .btn-sm {
    margin-top: 50px;
  }
}
.work__projectbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
}
.work__project {
  margin-right: 15px;
  height: 200px;
  border: 1px solid darken($secondary, 15%);
  width: 33%;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: $ease-slow;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  background: $secondary;
  &:hover {
    transition: $ease-slow;
  }
}
.amphoto {
  transition: $ease-slow;
  transform: translateY(150px);
  &:before {
    content: 'ariel min photography';
    position: absolute;
    top: 15px;
    color: $white;
  }
  &:hover {
    transition: $ease-slow;
    transform: translateY(0);
    &:before {
      background: $secondary;
    }
    &:after {
      content: '';
      transition: $ease-slow;
      width: 100%;
      height: 100%;
      background-image:url('../img/amproject.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.travelmuse {
  transition: $ease-slow;
  transform: translateY(150px);
  &:before {
    content: 'the travel muse';
    position: absolute;
    top: 15px;
    color: $white;
  }
  &:hover {
    transition: $ease-slow;
    transform: translateY(0);
    &:before {
      background: $secondary;
    }
    &:after {
      content: '';
      transition: $ease-slow;
      width: 100%;
      height: 100%;
      background-image:url('../img/tmproject.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.dailyui {
  transition: $ease-slow;
  transform: translateY(150px);
  &:before {
    content: 'daily ui challenges';
    position: absolute;
    top: 15px;
    color: $white;
  }
  &:hover {
    transition: $ease-slow;
    transform: translateY(0);
    &:before {
      background: $secondary;
    }
    &:after {
      content: '';
      transition: $ease-slow;
      width: 100%;
      height: 100%;
      background-image:url('../img/uiproject.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
//contact section
#contact {
  width: 100%;
  height: 40vh;
  background: $secondary;
  position: relative;
}
.contact__header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5em;
  h1 {
    color: $white;
    font-size: 2em;
  }
}
.contact__main {
  position: absolute;
  left: 25%;
  top: 55%;
  width: 50%;
  height: 65%;
  text-align: center;
  background: $light;
  transition: $ease;
  box-shadow: 3px 3px 6px rgba($dark, .2);
  p {
    margin-top: 5em;
    line-height: 1.7em;
  }
  a {
    text-decoration: underline;
    &:hover {
      transition: all .3s ease-out;
      color: lighten($dark, 10%);
    }
  }
  &:hover {
    transform: scale(1.01);
    transition: $ease;
    box-shadow: 5px 5px 10px rgba($dark, .2);
  }
}

.contact__social {
  position: absolute;
  width: 95%;
  top: 70%;
}

.social {
  list-style-type: none;
  display: block;
  li {
    display: inline;
  }
  a {
    color: $secondary;
    font-size: 1.5em;
    padding: 15px;
    &:hover {
      transition: all .3s ease-out;
      color: $dark;
    }
  }
}

.footer__spacer {
  position: relative;
  z-index: -2;
  height: 25em;
  pointer-events: none;
}

footer {
  position: fixed;
  z-index: 0;
  height: 25em;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  padding: 1em;
  padding-top: 0;
  border: 0 solid $white;
  border-top: 0;
  transition: border .3s ease,padding .3s ease;
  &:hover {
    padding: 0;
    padding-top: 0;
    border: 1em solid $secondary;
    border-top: 0;
  }
  p {
    font-size: .8em;
  }
}

.footer__content {
  position: absolute;
  margin-top: 14em;
  margin-left: 8em;
  width: 65%;
  h3 {
    font-family: $big;
    font-size: 1.4em;
    font-weight: 100;
    color: $secondary;
    span {
      text-decoration: underline;
      color: $primary;
    }
  }
  p {
    margin-top: 5px;
  }
}

.footer__text {
  position: fixed;
  color: $secondary;
  bottom: 20px;
  right: 20px;
}
//animation
@keyframes bounce {
  50% {
     transform: translateY(-5px);
  }
}


//media large screen

@media screen and (min-width: 33em) {
  .landing {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 60%;
  }
  .landing__title {
    grid-area: 2 / 1 / 2 / 3;
    margin: 0;
    align-items: flex-end;
    align-self: stretch;
    justify-self: end;
    text-align: right;
  }
  .landing__content {
    grid-area: 1 / 4 / 1 / 4;
    text-align: right;
    opacity: 1;
  }
}

//media medium screen

@media screen and (max-width: 870px) {
  .hero__image {
    width: 100%;
  }
  .hero__title {
    margin: 10em 2em;
  }
}

//media mobile screen

@media screen and (max-width: 35em) {
  .social {
    li {
      display: block;
      padding: 5px;
    }
  }
  .contact__social {
      top: 37%;
  }
  .contact__main {
    height: 70%;
  }
}
