@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

$body: 'Inconsolata', monospace;
$big: 'Merriweather', serif;

$white: #ffffff;
$primary: #F2DAD7;
$secondary: #D1A39E;
$light: #CECDCA;
$dark: #474545;

$ease: all 0.3s ease-in-out;

* {
  box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar { display: none; }

body {
  font-family: $body;
}

//fonts

a {
  text-decoration: none;
  color: $dark;
  cursor: pointer;
}

.links {
  color: $white;
  &:hover {
    color: $dark;
    transition: all .5s ease;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

p {
  margin: 0;
  line-height: 1.3em;
  font-size: 0.8em;
}

h1 {
  font-family: $big;
  margin-bottom: 0.3em;
  font-weight: 100;
  color: $dark;
}

h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin: 0;
}

//buttons

button {
  outline: none;
  background: transparent;
  border: 1px solid $dark;
  box-shadow: 1px 1px 2px rgba($dark, .3);
  cursor: pointer;
  &:hover {
    background: $primary;
    transition: $ease;
    transform: scale(1.03);
  }
}

.btn-main {
  font-family: $body;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  margin: 2em auto;

}

//intro landing page
.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.landing__box {
  position: absolute;
  left: 0;
  top: 0;
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.landing__logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  color: $white;
  cursor: pointer;
}

.landing__title {
  margin-top: 15em;
  position: relative;
  text-align: center;
}

.title {
  color: $white;
  font-family: $big;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin: 0;
  font-weight: 100;
}

.subtitle {
  font-weight: bold;
  font-size: 0.9em;
}

.enter {
  margin: 1em 0;
  font-size: 1em;
}

.landing__content {
  position: relative;
  opacity: 0;
}

// hamburger menu & navigation bar
#menu {
  position: fixed;
  width: 80px;
  height: 80px;
  padding: 8px;
  top: 1em;
  right: 0;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 3;
  &.open {
    .top {
      background: darken($secondary,10%);
      transform: translateY(7px) rotateZ(45deg);
    }
    .middle {
      opacity: 0;
    }
    .bottom {
      background: darken($secondary,10%);
      transform: translateY(-7px) rotateZ(-45deg);
    }
  }
}

nav {
  position: fixed;
  top: 0;
  right: 5em;
  height: 80px;
  padding-top: 27px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }
}
.navbar a {
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 0.9em;
}

.bar {
  display: block;
  height: 3px;
  width: 20px;
  background: darken($secondary,10%);
  margin: 4px auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

// homepage - main area
#main {
  width: 100%;
  height: 90vh;
  margin-top: 80px;
  background: $white;
  position: relative;
}

.hero__image {
  position: absolute;
  top: 3%;
  width: 60%;
  right: 0;
}

.hero__image img {
  width: 100%;
  margin-bottom: -5px;
}

.hero__title {
  position: absolute;
  margin: 5em 17em 5em 4em;
  font-size: 1.3em;
  p {
    color: lighten($dark, 10%);
    margin-left: 2px;
  }
}

.hero__content {
  margin-top: .5em;
  padding: 2em;
  background: $primary;
  p {
    font-size: 1em;
  }
}
//about section

// #about {
//   width: 100%;
//   height: 90vh;
//   margin-top: 80px;
//   position: relative;
//   border: 1px solid $primary;
// }

//portfolio section

#portfolio {
  width: 100%;
  height: 90vh;
  background: $white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 430px 230px;
  grid-gap: 2px;
}
.project {
  position: relative;
  margin-top: 3em;
  background: $primary;
  p {
    padding: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .grid__title {
    position: absolute;
    white-space: nowrap;
    left: 5px;
    bottom: 0;
    font-weight: 100;
    font-size: 0.8em;
    span {
      text-transform: uppercase;
      color: $dark;
      letter-spacing: 2px;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      padding: 1em;
      transform: rotate(180deg);
    }
  }
}

.fullwidth {
  grid-column-start: span 4;
  padding: 4em;
  background: $white;
  text-align: center;
  justify-self: center;
  align-self: center;
  position: relative;
  h3 {
    font-weight: 100;
  }
}

//contact section
#contact {
  width: 100%;
  height: 50vh;
  background: $secondary;
  position: relative;
}
.contact__header {
  position: absolute;
  left: 5em;
  top: 5em;
  h1 {
    color: $white;
  }
  p {
    color: $primary;
  }
}
.contact__main {
  position: absolute;
  left: 25%;
  top: 45%;
  width: 50%;
  height: 80%;
  text-align: center;
  background: $primary;
  box-shadow: 3px 3px 6px rgba($dark, .2);
  p {
    margin-top: 5em;
    line-height: 1.7em;
    color: $secondary;
  }
  a {
    color: $secondary;
    text-decoration: underline;
    &:hover {
      transition: all .3s ease-out;
      color: lighten($dark, 10%);
    }
  }
  &:hover {
    transform: scale(1.01);
    transition: $ease;
    box-shadow: 5px 5px 10px rgba($dark, .2);
  }
}

.contact__social {
  position: absolute;
  width: 95%;
  top: 56%;
}

.social {
  list-style-type: none;
  display: block;
  li {
    display: inline;
  }
  a {
    color: $secondary;
    font-size: 1.5em;
    padding: 20px;
    &:hover {
      transition: all .3s ease-out;
      color: lighten($dark, 10%);
    }
  }
}

section {
  z-index: 2;
}

.footer__spacer {
  position: relative;
  z-index: -1;
  height: 25em;
  pointer-events: none;
}

footer {
  position: fixed;
  z-index: 1;
  height: 25em;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  padding: 1em;
  padding-top: 0;
  border: 0 solid $white;
  border-top: 0;
  transition: border .3s ease,padding .3s ease;
  &:hover {
    padding: 0;
    padding-top: 0;
    border: 1em solid $secondary;
    border-top: 0;
  }
}

.footer__content {
  position: fixed;
  margin-top: 11em;
  margin-left: 3em;
  h3 {
    font-family: $big;
    font-size: 1.4em;
    font-weight: 100;
    color: $secondary;
    span {
      text-decoration: underline;
      color: $primary;
    }
  }
  p {
    margin-top: 5px;
  }
}

.footer__text {
  position: fixed;
  color: $secondary;
  bottom: 20px;
  margin-left: 3em;
}


//media large screen

@media screen and (min-width: 30em) {
  .landing {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 60%;
  }
  .landing__title {
    grid-area: 2 / 1 / 2 / 3;
    margin: 0;
    align-items: flex-end;
    align-self: stretch;
    justify-self: end;
    text-align: right;
  }
  .landing__content {
    grid-area: 1 / 4 / 1 / 4;
    text-align: right;
    opacity: 1;
  }
}

//media medium screen

@media screen and (max-width: 870px) {
  .hero__image {
    width: 100%;
  }
  .hero__title {
    margin: 7em 2em;
  }
}
