@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

$body: 'Inconsolata', monospace;
$big: 'Merriweather', serif;

$white: #ffffff;
$primary: #F2DAD7;
$secondary: #D1A39E;
$light: #CECDCA;
$dark: #474545;

body {
  font-family: $body;
}

a {
  text-decoration: none;
  color: $secondary;
}

.links a {
  &:hover {
    color: $dark;
    transition: all .5s ease;
    padding: 5px;
    border: 1px solid $dark;
  }
}

p {
  margin: 0;
  line-height: 1.3em;
  font-size: 0.8em;
}

h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin: 0;
}

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__box {
  position: absolute;
  left: 0;
  top: 0;
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.landing__logo {
  position: absolute;
  left: 30px;
  top: 30px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid $white;
}

.landing__title {
  margin-top: 7em;
  position: relative;
  text-align: center;
}

.title {
  color: $white;
  font-family: $big;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin: 0;
  font-weight: 100;
}

.subtitle {
  font-weight: bold;
  font-size: 0.9em;
}

.enter {
  margin: 1em 0;
  font-size: 1em;
  color: $secondary;
}

.landing__content {
  opacity: 0;
}

@media screen and (min-width: 30em) {
  .landing {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 60%;
  }
  .landing__title {
    grid-area: 2 / 1 / 2 / 3;
    margin: 0;
    align-items: flex-end;
    align-self: stretch;
    justify-self: end;
    text-align: right;
  }
  .landing__content {
    grid-area: 1 / 4 / 1 / 4;
    text-align: right;
    margin: 0 auto;
    opacity: 1;
  }
}
