@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather");
* {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
  color: #474545;
  cursor: pointer;
}

.links {
  color: #ffffff;
}
.links:hover {
  color: #474545;
  transition: all .5s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

p {
  margin: 0;
  line-height: 1.3em;
  font-size: 0.8em;
}

h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin: 0;
}

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__box {
  position: absolute;
  left: 0;
  top: 0;
  background: #D1A39E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.landing__logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ffffff;
}

.landing__title {
  margin-top: 15em;
  position: relative;
  text-align: center;
}

.title {
  color: #ffffff;
  font-family: "Merriweather", serif;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin: 0;
  font-weight: 100;
}

.subtitle {
  font-weight: bold;
  font-size: 0.9em;
}

.enter {
  margin: 1em 0;
  font-size: 1em;
}

.landing__content {
  position: relative;
  opacity: 0;
}

/*hamburger menu*/
#menu {
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 8px;
  top: 1em;
  right: 0;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 3;
}
#menu.open .top {
  background: #D1A39E;
  transform: translateY(7px) rotateZ(45deg);
}
#menu.open .middle {
  opacity: 0;
}
#menu.open .bottom {
  background: #D1A39E;
  transform: translateY(-7px) rotateZ(-45deg);
}

nav {
  position: absolute;
  top: 0;
  right: 5em;
  height: 80px;
  padding-top: 27px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
nav.show {
  opacity: 1;
  visibility: visible;
}

.navbar a {
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 0.8em;
}

.bar {
  display: block;
  height: 3px;
  width: 20px;
  background: #D1A39E;
  margin: 4px auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/*main page area*/
#main {
  width: 100vw;
  margin-left: 80px;
  margin-right: 80px;
  position: relative;
}

.content {
  padding: 10px;
}

@media screen and (min-width: 30em) {
  .landing {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 60%;
  }

  .landing__title {
    grid-area: 2 / 1 / 2 / 3;
    margin: 0;
    align-items: flex-end;
    align-self: stretch;
    justify-self: end;
    text-align: right;
  }

  .landing__content {
    grid-area: 1 / 4 / 1 / 4;
    text-align: right;
    opacity: 1;
  }

  #main {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
}
