@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather|Lora');

$body: 'Inconsolata', monospace;
$big: 'Merriweather', serif;
$serif: 'Lora', serif;

$white: #ffffff;
$primary: #F2DAD7;
$secondary: #D1A39E;
$light: #E8DCD3;
$dark: #474545;

$ease: all 0.3s ease-in-out;
$ease-slow: all 0.5s ease-out;
